*{
    
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(135, 206, 235, 0.4);
}

#info_area{
    height: 85vh;
    align-content: center;
 
    
}


nav{
    height: 8vh;
    align-content: center;
    border-bottom: 0.1vw gray solid;
    background-color: lightgray;
}

button{
    border: 0.1vw black solid;
    border-radius: 0.2vw;
    padding: 0.2vw;
    margin-left: 0.5vw;
    width: 5vw;
    height: 3vh;
    
}

button:hover{
    background-color: orange;
}

a{
    text-decoration: none;
    color: black;
}

.images{
    margin-bottom: 2vh;
    display: flex;
    padding-left: 2vw;

}

.images p{
    align-content: center;
    border: 0.1vw lightcoral solid;
    border-radius: 1vw;
    padding: 0 1vw 0 1vw;
}


.img{
    border-radius: 1vw;
    width: 15vw;
    height:20vh;
    margin-right: 3vw;
}

.img:hover{
    box-shadow: 10px 10px 10px 0 black;
}

footer{
    justify-items: center;
    align-content: center;
    background-color: lightgray;
    height: 7vh;
    border-top: 0.1vw gray solid;

}

/* graphics card page's styling*/

#graphics_content{
    align-content: center;
    height: 85vh;
    width: 100%;
    display: flex;

}

.table{
    width: 55%;
    margin: 2vh 5% 2vh 0;
    border-collapse: collapse;
    

}

.table_off{
    display: none;
}

th, td{
    border: 0.1vw solid black;
    text-align: center; 
    
}


#graphics_content img{
    width: 45%;
    height: 40%;

}

#graphics{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
}

.video{
    align-self: center;
    display: none;
    width: 55%;
    margin: 2vh 5% 2vh 0;
    border-radius: 1vw;
}

.video_on{
    display: block;
}
