body {
    background-color: grey;
   margin: 0;
}


.nav {
    background-color: black;
    display: flex;
    border: 10px black solid;
     justify-content: center;   
    align-items: center; 
    
}
.nav a {
    float: left;
    padding: 14px 20px;
    text-decoration: none;
    color: white;
}
.nav a:hover {
    background-color: #555;
}

.description {
    background-color: #333;
}
h1 {
    color: white;
    text-align: center;
    text-decoration: underline;
}
h2 {
    color: white;
    text-align: center;
    text-decoration: underline;
}
p {
    text-align: center;
    color: white;
}

.table {
    color: black;
    text-align: center;
    margin: 50px auto;
    width: 75%;
    border-collapse: collapse;
    font-size: 18px;
    background-color: white;
}

.table_off{
    display: none;
}

th, td {
    border: 5px solid black;
    padding: 10px;
    text-align: left;
}

.video{
    margin: 50px auto;
    width: 75%;
}

.video_on{
    display: block;
}


.image-container {
    display: flex;                   
    justify-content: center;        
    align-items: center;             
    margin-top: 10px;             
}

