body{
    background-color: grey;
}

.nav {
    background-color:black ;  
    display: flex;  
    border: 10px black solid;
    
}
.nav a {
    float: left;
    padding: 14px 20px;
    text-decoration: none;
    color: white;
}

.nav a:hover {
    background-color: #555;
}

.description{
    background-color: #333;
}
h1{
    color: white;
    text-align: center;
}
p{
    text-align: center;
    color: white;
}
table{
    color: black;
    text-align: center;
    margin: 50px auto;       
    width: 75%;             
    border-collapse: collapse;
    font-size: 18px;         
    text-align: center;   
    background-color: white; 
   
}

th, td{
    border: 5px solid black;
    padding: 10px;
    text-align: left; 
}
